* {
    --marin_blue: rgb(12, 54, 168);
    --marin_hover: #02119c98;
    --marin_bg: rgba(12, 54, 168, 0.123);
    --marin_bg_hover: #02119c57;
    --rutorbg: rgb(207, 224, 245);
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* font-family: sans-serif;  */
    /* font-family: Arial, Helvetica, sans-serif; */
    background: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

main{
    height: 100%;
    width: 100%;
    /* background-image: url('./images/prelbakgrund.jpg'); */
    /* background-image: url('./images/hav.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-position: center center; */
    background-position: center top;
    background-attachment: fixed;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
/* .page-content{
    width: 100%;
    /* max-height: 84%; */
    /*height: 70vh;
    display: inline-block;
} */

#content{
    height: 100%;
    width: 100%;
    /* margin: 0%, 10%; */
    background-color: rgb(255, 255, 255)

}

/*    <~~~ HEADER NAVIGATION start ~~~~   */
.navBar{
    width: 100%;
    display: inline-block;
    min-height: 55px;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 3px 5px -5px rgb(17, 17, 17); 
    justify-content: center;
}
.navBar-left{
    display: inline-block;
    /* width: 28%; */
    width: 42%;
}
#header-logo{
    display: inline-block;
    margin: 0.1em 1em;
    cursor: pointer;
    display: none;
}
#header-logo-mobile{
    width: 50px;
    height: auto;
}
.navBar-center{
    width: 40%;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0.5em 0;
    text-align: center;
}
#navBar-pageTitle {
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: bold;
}
.navBar-right{
    display: block;
    float: right;
    width: 18%;
    height: auto;
}
#navButton-toggle{
    height: 33px;
    width: 33px;
    position: relative;
    display: block;
    margin: 0.5em 0.5em;
    float: right;
    padding: 3px 6px;
    background: transparent;
    border: 3px solid #555;
    border-radius: 8px;
    cursor: pointer;
}
.navButton-Line{
    background:#555;
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 1px;
    margin: 3px 0;
}
.navBar-show{
    display: inline-block;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: openNavBar;
}
/* @keyframes openNavBar{
    0%  {opacity: 0%; }
  100%  {opacity: 100%; }
} */
nav{
    display: block;
    margin: 3px auto;
    width: 100%;
}
nav > ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
nav > ul > li{
    display: inline-block;
}
nav > ul > li > a{
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    color:  var(--marin_blue);
}
nav > ul > li > a:hover{
    cursor: pointer;
    /* background: rgb(12, 54, 168); */
    background-color: var(--marin_hover);
    /* background-image: linear-gradient(0deg, #ffffff00, #02129c);; */
    color: #fff
}
.activePage{
    cursor: pointer;
    background-color: var(--marin_blue);
    color: #fff
}

#Hem-Page{
    width: 100%;
    /* margin-top: 6.2em; */
    opacity: 0; 
    /* background-color: var(--rutorbg); */
}
#hemdiv{
    width: 100%;
    height: 60vh;
    margin: 0;    
    align-items: center;
    /* background-image: url('./images/sol.jpg'); */
    background-image: url('./images/landet4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: silver;
    position: relative;
}

#hemblur{
    background-color: #fcfdcc00;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#Hem-Page > #hemdiv > #hemblur > h2, 
#tjanstdiv > h2, 
#omdiv > h2,
#kontaktdiv > h2 {
    font-weight: 600;
    width: auto;
    margin: 0 auto auto 0px;
    padding-top: 1.5em;
    margin-left: 8%;
    height: auto;
    font-size: 1.5em;
    /* letter-spacing: 0.1em; */
    color: var(--marin_blue);
    text-transform: uppercase;
    display: grid;
    /* place-items: center;   
    justify-content: center;
    align-items: center; */
} 

#hemtext{
    width: 80%;
    margin-left: 8%;
    margin-top: 1em;
    /* align-items: center;
    justify-content: center; */
    display: grid;
    /* place-items: center; */
    font-weight: normal;
    /* color: white; */
    /* text-align: center; */
    /* text-shadow: 1px 1px rgb(255, 255, 255); */
}
/* .hem-lower{
    width: 100%;
    height: 34%;
    background-color: rgb(255, 255, 255);
    display: block;
    display: flex;
    justify-content: center;
    z-index: 0;
} */
.hem-knappar{
    margin-top: -18vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    /* color: var(--marin_blue); */
    /* position: static; */
}
.hem-knappar > a{
    width: 85%;
    height: 10em;
    margin: 1em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.664);
    /* box-shadow: 0 0 2px 0 rgb(17, 17, 17); */
    text-decoration:none;
    text-transform:uppercase;
    /* align-items: center;
    justify-content: center;
    vertical-align: middle; */
    text-align: center;
    padding: 0px;
    line-height: 10em;
    font-weight:500;
    letter-spacing: 4px;
    font-size: 1.1em;
}

.hem-knappar > a:hover{
    cursor: pointer;
}
/* .hem-knappar > a:active{
    color:var(--marin_hover);
    border-color:var(--marin_hover);
    background: var(--marin_bg_hover);
} */
.knappdiv{
    margin: 1em;
}

.knappdiv:hover{
    cursor: pointer;
}

.bildknapp {
    width: 11em;
    height: 11em;
    display: block;
    border-radius: 50%;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 10px solid white;
    box-shadow: -1px 0 5px -3px black;
    z-index: 5;
    position: relative;
}

#tjanstknapp {
    background-image: url('./images/knapp1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: content-box; */
}
#omknapp {
    background-image: url('./images/knapp3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#kontaktknapp {
    background-image: url('./images/knapp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lanktext {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.1em;
    /* text-transform: uppercase; */
    letter-spacing: 0.8px;
}


/* tjänst-sida */
#tjanstdiv{
    width: 100%;
    height: 55vh;
    /* background-color: turquoise; */
    background-image: url("./images/horisont.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

/* #tjanstdiv > h2 {
    margin: 0 auto auto;
    padding-top: 2em;
} */

/* .tjanstruta{
    margin: 1.5em;
} */

.tjanstrutor{
    margin-top: -5em;
    width: 100%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-wrap: wrap;
    z-index: 5;
    /* color: var(--marin_blue); */
    /* position: static; */
}

.tjanstknapp {
    width: 11em;
    height: 11em;
    display: block;
    border-radius: 50%;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 10px solid white;
    box-shadow: -1px 0 5px -3px black;
    z-index: 5;
    position: relative;
}

.tjanstruta{
    margin: 1em;
    width: 80vh;
    /* height: 16em; */
    height: auto;
    /* background-color: rgb(219, 219, 219); */
    background-color: var(--rutorbg);
    /* background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0.418),rgba(219, 219, 219, 0)); */
    /* border: 10px solid rgb(255, 255, 255); */
    box-shadow: -1px 0 5px -3px black;
    z-index: 1;
    /* position: relative; */
    /* padding-left: 3em; */

    border-radius: 2%;
}

.tjanstrubrik{
    /* padding-top: 6em; */
    color: var(--marin_blue);
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-align: center;
}

.gods{
    float: left;
}

#godsbild{
    margin: 1em;
    width: 150px;
    height: 210px;
    background-image: url('./images/gods.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: yellowgreen; */
}

#renoveringsbild{
    margin: 1em;
    width: 210px;
    height: 150px;
    background-image: url('./images/renovering.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tjansttext{
    padding: 1em;
}

.lista, .tjansttext{
    color: rgb(27, 27, 27);
    font-weight: normal;
    font-size: 1.2em;
    /* letter-spacing: 0.2px; */
}

#persontransport{
    background-color: slategray;
}

#godstransport{
    background-color: steelblue;
}

#tillsyn{
    background-color: thistle;
}

#renovering{
    background-color: violet;
}

/* om oss-sida*/


#omdiv{
    /* background-color: rgb(129, 129, 129); */
    background-image: url("./images/landetsol2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center -29em; */
    background-position: center calc(50% - 70px);
    height: 60vh;
}

#ommig, #ombat{
    width: 90vw;
    margin: auto;
    margin-top: -6em;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 224, 245);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: -1px 0 5px -3px black;
}

#ombat{
    margin-top: 4%;
    margin-top: 2%;
    margin-bottom: 3em;
    flex-wrap: wrap-reverse;
}

#migbild, #batbild{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: -1px 0 5px -3px black;
}

#migbild{
    width: 19em;
    height: 19em;
    background-image: url("./images/kapten.jpg");
}
#batbild{
    width: 19em;
    height: 19em;
    background-image: url("./images/aronetclose.jpg");
}

#migtext, #battext{
    width: 90%;
    font-size: 1em;
    padding: 10px;
    font-weight: 500;
}

/* kontakt-sida */

#kontaktdiv{
    background-image: url("./images/aronet2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center -29em; */
    background-position: center center;
    height: 60vh;
}
#kontaktsida{
    width: 90vw;
    /* margin-left: 5vw; */
    margin: auto;
    margin-top: -3em;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 224, 245);
    /* display: flex;
    flex-wrap: wrap; */
    border-radius: 10px;
    box-shadow: -1px 0 5px -3px black;
    line-height: 1.6;
    font-size: 1.2em;
    text-align: center;
    /* font-weight: 500; */
}


@media screen and (min-width: 768px) { 

    /*    <~~~~ dator-storlek ~~~    */    

    /* #content{
        height: 100vh;
        width: 80%;
        margin: 0% 10%;
        background-color: rgba(255, 255, 255, 0.877);
        /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0.493) 0, rgba(255, 255, 255, 0.808), rgba(255, 255, 255, 0.911) 100%); */
        /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.664); */
        /* display: block; */
    
    /*} */
    nav{
        visibility: visible;
        display: inline-block;
        margin: 3px auto auto;
        width: 60%;
    }
    .navDesktop{
        visibility: visible;
        display: inline-block;
        margin: 0 auto;
        width: 60%;
    }
    .navBar-left{
        width: 20%;
    }
    #header-logo{
        width: 150px;
        display: block;
    }
    #header-logo-mobile{
        display: none;
    }
    .navBar-center{
        display: none;
        visibility: hidden;
    }
    .navBar-right{
        display: none;
        visibility: hidden;
        width: 20%;
    }
    nav > ul{
        width: auto;
    }
    nav > ul > li > a{
        padding: 1em 1.5em;
    }

    /* #hemdiv{
        width: 75%;
        margin: 1.2em auto auto;    
        align-items: center;
    }*/

    /* #hemdiv{
        background-position: center center;
    } */

    .hem-knappar{
        margin-top: -12vh;
    }

    #Hem-Page > #hemdiv > #hemblur > h2, 
    #tjanstdiv > h2, 
    #omdiv > h2, 
    #kontaktdiv > h2 {
        font-weight: 600;
        width: auto;
        margin: 0 auto auto 0px;
        padding: 8vh 20% 0;
        height: auto;
        font-size: 2.5em;
        letter-spacing: 0.02em;
        color: var(--marin_blue);
        display: grid;
        place-items: unset; 
        justify-content: unset;
        align-items: unset;
    } 

    #hemtext{
        width: 40%;
        margin-left: 20%;
        margin-top: 0.8em;
        font-size: 1.3em;
        /* align-items: center;
        justify-content: center; */
        display: grid;
        /* place-items: center; */
        font-weight: normal;
        text-align: unset;
        text-shadow: unset;
    }
        
        /* .hem-knappar > a{
            width: 15em;
            height: 15em;
            margin: 1em;
            line-height: 15em; */
            /* color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.664);
            text-decoration:none;
            text-transform:uppercase;

            text-align: center;
            padding: 0px;
            
            font-weight:500;
            letter-spacing: 4px;
            font-size: 1.1em; */
        /* } */

/* om-sida + kontaktruta */

    #migtext, #battext{
        /* margin-left: 20em; */
        max-width: 60%;
        font-size: 1.2em;
        padding: 10px;
    }

    #ommig{
        margin-top: -4em;
    }

    #ommig, #ombat{
        width: 70%;
        margin-left: 15%;
    }

/*kontakt-sida*/

    #kontaktdiv{
        background-position: center calc(50% - 90px);
    }

    #kontaktsida{
        width: 50%;
        margin-left: 25%;
        margin-top: -1.7em;
    }

}